@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.white {
  color: white;
  font-size: 29px;
  margin-bottom: 50px;
}
.container {
  height: 100vh;
  display: flex;
}
.container .left {
  flex-grow: 2;
}
.container .right {
  align-items: center;
  align-content: center;
  flex-grow: 0.7;
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: 1px 9px 17px rgba(255, 255, 255, 0.986);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.container .right .form_container {
  margin-top: 9rem;
  margin-left: 17rem;
}
.container .right .form_container .socialLogin {
  display: flex;
}
.container .right .form_container .socialLogin button.google {
  border: 0;
  padding: 10px;
  width: 200px;
  margin-right: 25px;
}
.container .right .form_container .socialLogin button.facebook {
  border: 0;
  padding: 12px;
  width: 200px;
  margin-right: 25px;
}
i.fa-google {
  color: rgb(255, 0, 0);
  background-color: white;
  margin-right: 5px;
  padding: 8px;
  border-radius: 50%;
}

i.fa-facebook {
  padding: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 90%;
  background-color: blue;
  color: rgb(255, 255, 255);
  margin-right: 7px;
}
.or h2 {
  color: white;
  font-size: 19px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
}
form input {
  width: 415px;
  padding: 10px;
  background-color: transparent;
  color:white;
  border: 0;
  border-bottom: 1px solid white;
  outline: 0;
  margin-bottom: 25px;
}
input[type="date"] {
  color: rgba(255, 246, 246, 0.712);
  background-color: transparent;
}
::placeholder {
  color: rgba(255, 246, 246, 0.712);
}
input.btn {
  width: 435px !important ;
  padding: 13px;
  outline: 0;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 0;
}
input.btn:hover {
  background-color: rgb(133, 129, 129);
  color: white;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
select {
  color: rgba(255, 246, 246, 0.712);
  width: 435px;
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  outline: 0;
  margin-bottom: 25px;
}
option {
  font-weight: normal;
  background-color: black;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
}
@media only screen and (max-width: 1000px) {
  .container.isMobile{
    display: none;
  }
}

@media only screen and (max-width:  600px) {
  html {
    overflow: hidden !important;
  }
  body {
    height: 100vh;
    overflow: hidden !important;
  }
  h2.left__heading {
    color: white;
    margin-top: 100px;
    margin-left: 70px;
  }
  .container .right .form_container .socialLogin {
    display: flex;
  }
  .container {
    height: 100vh;
    display: flex;
  }
  .container .right {
    margin-left: 30px;
  }
  .container .right .form_container {
    height: 100vh;
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .container .right {
    align-items: center;
    align-content: center;
    flex-grow: 0.7;
    background-color: rgba(0, 0, 0, 0.699);
    box-shadow: 1px 9px 17px rgba(255, 255, 255, 0.986);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  form input {
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    margin-bottom: 25px;
  }
  .container .right .form_container .socialLogin button.google {
    border: 0;
    padding: 10px;
    width: 150px;
    margin-right: 25px;
  }
  .container.is-Mobile{
    background-color: aliceblue;
  }
  .container .right .form_container .socialLogin button.facebook {
    border: 0;
    font-size: 14px;
    padding: 10px;
    width: 160px;
    margin-right: 25px;
  }
  .or h2 {
    color: white;
    font-size: 19px;
    margin-left: 160px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  form input {
    width: 300px;
    color:white;
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    margin-bottom: 25px;
  }
  select {
    color: rgba(255, 246, 246, 0.712);
    width: 315px;
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    margin-bottom: 25px;
  }
  button.btn {
    width: 316px;
    padding: 13px;
    outline: 0;
    margin-top: 10px;
    border: 0;
  }
  i.fa-google {
    color: rgb(255, 0, 0);
    background-color: white;
    margin-right: 5px;
    padding: 8px;
    border-radius: 50%;
    font-size: 15px;
  }
  
  i.fa-facebook {
    padding: 8px;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 70%;
    background-color: blue;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
}
